/* space-mono-latin-400-normal */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/space-mono/files/space-mono-latin-400-normal.woff2)
      format("woff2"),
    url(@fontsource/space-mono/files/space-mono-latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-mono-latin-700-normal */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/space-mono/files/space-mono-latin-700-normal.woff2)
      format("woff2"),
    url(@fontsource/space-mono/files/space-mono-latin-700-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --animation-progess: 0;

  --color-primary: rgb(231, 87, 54);
  --color-background-input: rgb(10, 10, 30);
  --color-mix-percentage: calc(var(--animation-progess) * 100% / 3);
  --color-background: color-mix(
    in oklab,
    var(--color-background-input),
    white var(--color-mix-percentage)
  );
  --color-secondary: color-mix(
    in oklab,
    var(--color-primary),
    var(--color-background) 70%
  );
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #e39b00;
    --color-background-input: #fdea7f;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-primary);
  background-color: var(--color-background);
  transition: background-color 0.2s ease;
  font-family: "Space Mono", monospace;
}

h1 {
  grid-area: header;
  font-weight: 700;
  padding: 2em 0;
  text-align: center;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.25;
}

#map {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    ".";
  width: 100vw;
  height: 100dvh;
}

figure {
  margin: 0;
}

figcaption {
  padding: 0 1em;
  margin-bottom: 2em;
  justify-content: center;
  gap: 0.25em;
  display: flex;
  flex-direction: column;
  align-items: center;

  a svg {
    display: block;
  }
}

@media screen and (min-width: 648px) {
  figcaption {
    flex-direction: row;
    gap: 2em;
  }
}

#controller {
  position: absolute;
  bottom: 4em;
  left: 2em;
}

figcaption img line {
  stroke: var(--color-primary);
}

#background-icon {
  grid-area: 1 / 1 / -1 / -1;
  align-self: center;
  justify-self: center;

  & > div {
    text-align: center;
  }
}

#subline {
  font-weight: normal;
}

#icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2em;
  padding: 2em;
}
